body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 14pt;
}

input {
    padding: 3px;
}

select {
    padding: 10px;
    background-color: aliceblue;
}

option {
    padding: 5px;
    background-color: blanchedalmond;
}

.error-element {
    color: red;
    font-size: 14pt;
    border: 1pt dashed red;
    padding: 10px;
    border-radius: 8px;
}

.main-button {
    padding: 5px;
    font-size: 16pt;
    border-radius: 8px;
}

.width500 {
    width: 500px;
}

.width700 {
    width: 700px;
}

.bigSkip {
    margin-top: 200px;
}

.formula-container {
    display: inline-block;
    margin: 5px;
}

.formula-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #543634;
    font-size: 16pt;
}

.formula-content {
    margin-left: 20px;
    border-width: 0px important;
    padding: 10px;
}

.formula-container .mq-editable-field,
.formula-container .mq-math-mode .mq-editable-field {
    border: 0px solid green !important;
    font-size: 18pt;
}

.formula-container-input .formula-content {
    width: 75%;
}

.values-table {
    border-spacing: 0px;
}

.values-table th {
    border-bottom: 1px solid black;
    padding: 5px;
}

.values-table td:first-child, .values-table th:first-child {
    border-right: 1px solid black;
    padding: 5px;
}

.section-container {
    margin: 5px;
    width: 550px;
    padding: 5px;
    /*
    border-top: 1pt solid green;
    border-left: 1pt solid green;
    border-bottom: 1pt solid green;
    */
}


.longdiv-table {
    border-spacing: 0px;
    padding: 5px;
}

.longdiv-table-cell {
    font-size: 16pt;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.longdiv-table-cell-middle {
    border-bottom: 1pt solid black;
}

.factoring-cross-canvas {
    margin-left: 10px;
}

table.factor-box {
    border-collapse: collapse;
}
.factor-box td {
    width: 50px;
    height: 50px;
    vertical-align: bottom;
}

.factor-box tr:nth-child(2) td:nth-child(2),
.factor-box tr:nth-child(2) td:nth-child(3),
.factor-box tr:nth-child(3) td:nth-child(2),
.factor-box tr:nth-child(3) td:nth-child(3) {
    border: 1pt solid black;
}

table.angle-value-table {
    border: 1px solid black;
    border-spacing: 0px;
}

table.angle-value-table th {
    border-bottom: 1px solid black;
    min-width: 150px;
}

table.t-chart-table {
    border-collapse: collapse;
}

.t-chart-table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}

table.conversion-table {
    border-collapse: collapse;
}

.conversion-table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}

.conversion-table td:last-child {
    border-right-width: 0px;
}

.conversion-table tr:last-child td {
    border-bottom-width: 0px;
}

table.chemical-equation-balancing {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

table.chemical-equation-balancing td {
    border-bottom: 1px solid gray;
}

table.chemical-equation-balancing tr:first-child td {
    border-bottom: 1px solid black;
}

table.chemical-equation-balancing tr:nth-child(2) td {
    border-bottom: 2px solid black;
}

table.chemical-equation-balancing td {
    border-right: 1px solid black;
    padding: 10px;
}

table.chemical-equation-balancing td:last-child {
    border-right-width: 0;
}

table.chemical-equation-balancing td.last-lhs-column {
    border-right-width: 5pt;
    padding-right: 30px;
}

table.chemical-equation-balancing .totals-span {
    font-weight: bold;
}

table.chemical-equation-balancing .bfactor-span {
    font-weight: bold;
    color: blue;
    border: 1px solid black;
    padding: 4px;
}

table.chemical-equation-balancing .bfactor-span-header {
    margin-right: 10px;
}

table.chemical-equation-balancing .balanced {
    background-color: rgb(128, 240, 169);
}

table.chemical-equation-balancing .unbalanced {
    background-color: red;
}

.balancing-equation-div {
    display: inline-block;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-top: 50px;
    border: 1px dashed black;
}

.balancing-equation-div2 {
    display: inline-block;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.balancing-equation-balanced {
    color: green;
}

.balancing-equation-unbalanced {
    color: red;
}

div.exponential-function-properties {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

table.exponential-function-properties-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.exponential-function-properties-table td {
    border: 1px solid black;
    padding: 5px;
}

table.make-a-table {
    border-collapse: collapse;
}

table.make-a-table tr:first-child td {
    border-bottom: 1px solid black;
}

table.make-a-table td:first-child {
    border-right: 1px solid black;
}

table.make-a-table td {
    padding: 8px;
    text-align: center;
}

.inverse-info {
    background-color: lightgray;
}

.highlight-div {
    background-color: yellow;
    display: inline-block;
}

.select-outer-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px dashed black;
    width: 400px;
    height: 24px;
    font-size: 18pt;
}

.select-menu-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
}

.select-menu-button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.select-option-label {
    position: absolute;
    left: 36px;
    top: 3px;
    visibility: hidden;
}

.select-option-label[selected=true] {
    visibility: visible;
}

.select-menu-container {
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;
    width: 400px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px rgba(1, 1, 1, 0.3);
    z-index: 999;
}

.select-menu-entry {
    padding: 5px;
}

.select-menu-entry:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.stoichiometry-question .constant-text {
    vertical-align: top;
    margin: 5px;
    padding: 3px;
    display: inline-block;
}

.stoichiometry-question .number-input {
    vertical-align: top;
    margin: 5px;
    padding: 3px;
    font-size: 16pt;
}

.unit-in-conversion-table .unit {
    margin-left: 3px;
}

.unit-in-conversion-table .unit-canceled {
    color: red;
    text-decoration: line-through;
}

.unit-in-conversion-table .unit-text {
    color: black;
}

.conversion-table-container {
    margin: 20px;
    font-size: 20pt;
}

.unit-circle-angle-label {
    visibility: hidden;
}

.unit-circle-angle-cos {
    color: blue;
}

.unit-circle-angle-sin {
    color: red;
}

.unit-circle-angle-tan {
    color: green;
}

.unit-circle-angle-sec {
    color: blueviolet;
}

.unit-circle-angle-csc {
    color: crimson;
}

.unit-circle-angle-cot {
    color: darkolivegreen;
}

.unit-circle-angle-coordinates {
    color: brown;
}

.big-checkbox, .big-input {
    width: 40px;
    height: 40px;
}

.big-input {
    font-size: 18pt;
}

.big-button {
    font-size: 18pt;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 8px;
    box-shadow: 3px 3px rgba(1, 1, 1, 0.3);
}

table.reverse-lookup-table {
    border-collapse: collapse;
    margin-top: 20px;
}

table.reverse-lookup-table th {
    border-bottom: 1px solid black;
}

table.reverse-lookup-table th:first-child,
table.reverse-lookup-table td:first-child {
    border-right: 1px solid black;
    padding-right: 10px;
}

table.reverse-lookup-table td {
    border-bottom: 1px dashed grey;
}

table.reverse-lookup-table tr:last-child td {
    border-bottom-width: 0;
}

table.reverse-lookup-table td:first-child {
    text-align: right;
}

.trigfunction-range-sketch {
    width: 200px;
    margin-left: 50px;
}

table.chemical-properties-table {
    border-collapse: true;
}

table.chemical-properties-table td {
    border: 1px solid black;
    padding: 10px;
}

table.chemical-properties-table td:first-child {
    background-color: bisque;
}

.tile-container input {
    padding: 10px;
    border-radius: 5px;
    font-size: 18pt;
}

table.left-header-table {
    border: 1px solid orange;
    border-collapse: collapse;
}

table.left-header-table td:first-child {
    text-align: right;
    background-color: #ddd;
}

table.left-header-table td {
    padding: 5px;
    border-bottom: 1px solid orange;
}

.inverse-font-colors {
    background-color: white !important;
    color: black !important;
}

.xsection-header {
    display: inline-block;
}

.xsection-header .collapsed-indicator {
    vertical-align: middle;
    font-size: 18pt;
}

.xsection-header .collapsed-indicator:hover {
    cursor: pointer;
}

.xsection-header .xsection-header-title, .xsection-header input {
    vertical-align: middle;
}

.xsection-header .xsection-header-title {
    font-size: 18pt;
}

.xsection-header input {
    width: 20px;
    height: 20px;
}

.xsection-content {
    margin-left: 11px;
    border-left: 10px #ddd solid;
    padding-left: 30px;
}

.CodeMirror {
    min-width: 500px;
    font-size: 14pt;
    border: 1px solid grey;
    padding: 3px;
}

table.table-with-header {
    border-collapse: collapse;
}

table.table-with-header th {
    background-color: beige;
}

table.table-with-header th, table.table-with-header td {
    border: 1px solid black;
    padding: 10px;
}